<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Set Config Reference</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<style>
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}
body.loading .modal {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.userProfile
{
 float:right;
}
</style>
</head>
<br>
<body style="background-color:#e9ecef;">
<div id="responsemsg"></div>
<div class="container-fluid">

     <div class="p-0 mb-0 bg-dark text-white" class="font-weight-bold" ><div class="text-center"><h2>FOTA PORTAL</h2></div></div>

         <div class="userProfile">
            <form class="form-inline">
  <div class="form-group mb-2">
      <label>User: {{user}}</label>
     </div>
      </form>
  <form class="form-inline">
  <div class="form-group mb-2">
      <label>Profile: {{profile}}</label>
  </div>
  </form>
     </div>
 <br/><br/><br/>

      <div class="p-0 mb-0 bg-info text-white" class="font-weight-bold" ><div class="text-center"><h3>Set Configuration Reference</h3></div></div>
<br>
    <form>
        {% csrf_token %}
  <div class="form-row">
  <div class="form-group col-md-3">
  <label for="sel1">Select ECU Name</label>
  <select class="form-control" id="sel1">
    <option></option>
  </select>
</div>
      <div class="form-group col-md-3">
              <label>ECU Hardware</label>
      <input class="form-control" id="SV">
    </div>

      <div class="form-group col-md-3">
              <label>ECU Configuration Reference</label>
      <input class="form-control" id="SV">
    </div>
        <div class="form-group col-md-3">
              <label>ECU New Configuration Reference</label>
      <input class="form-control" id="TV">
    </div>

</div>
  <div class="row">
    <div class="col-sm-12 text-center">
        <button id="btnSearch" type="button" class="col-md-1 btn btn-primary center-block" Style="width: 100px;">Back</button>
         <button id ="sss" type="submit"  class="col-md-1 btn btn-success center-block"  Style="width: 100px;">Set</button>

    </div>
</div>
</form>
</div>
<div class="modal"><!-- Place at bottom of page --></div>
</body>
<script type="text/javascript">


$("form").submit(function(e){
e.preventDefault();
var ecu_name = []
var ecu_hardware = []
var ecu_configuration_reference = []
var ecu_new_configuration _reference = []

    });

   $.ajax({
   type:'POST',
   url:"FetchEcu",
   data:{
   'ecu_name[]':ecu_name,
   'scomo_id[]':scomo_id,
   'source_version[]':source_version,
   'target_version[]':target_version,
   'package_file[]':package_file,
   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
   },
  success: function(data){
        $("#responsemsg").append('<div class="alert alert-success alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Data has been saved successfully !</div>');
  },
  });
});


$(document).ready(function(e) {
   $.ajax({
   type:'POST',
   url:"ecuNameFetch",
   data:{
   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
   },
  success: function(data){
      $("#sel1 option").remove();
      $("#sel1").append('<option>'+"Select Ecu"+'</option>');
      for (var i = 0 in data) {
       $("#sel1").append('<option>'+data[i]+'</option>');
                        }
 },
 });
 });


$('#sel1').on('change', function() {
var ecuName = this.value;
$.ajax({
   type:'POST',
   url:"FecthScomo",
   data:{
   ecu_name: ecuName,
   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
   },
  success: function(data){
      $("#SD option").remove();
      $("#SD").append('<option>'+"Select ScomoID"+'</option>');
      for (var i = 0 in data) {
       $("#SD").append('<option>'+data[i]+'</option>');
                        }
  },
  });
});


$('#SD').on('change', function() {
var scomo_ids = this.value;
$.ajax({
   type:'POST',
   url:"FecthPackageFile",
   data:{
   scomo_id: scomo_ids,
   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
   },
  success: function(data){
      $("#PF option").remove();
      $("#PF").append('<option>'+"Select PackageFile"+'</option>');
      for (var i = 0 in data) {
       $("#PF").append('<option>'+data[i]+'</option>');
                        }
  },
  });
});


$("#addbtn").click(function() {
  var ecu_name = $('#sel1').val()
  var scomo_id = $('#SD').val()
  var TargetVersion = $('#TV').val()
  var SourceVersion =  $('#SV').val()
  var packagefilename = $('#PF').val()
  $("#ll").append('<tr><td>'+ecu_name+'</td><td>'+scomo_id+'</td><td>'+SourceVersion+'</td><td>'+TargetVersion+'</td><td>'+packagefilename+'</td><td><button class="btn btn-danger java" id="spo" type="button">Delete</button></td></tr>');
});


$(document).on("click", ".java", function(){
    $(this).parents("tr").remove();
});


</script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>