<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>FOTA Function</title>
      <style>

      #sss{
      height:50px;
      width: 300px;
      padding: 10px;
      }
      #ssss{
               width: 150px;
               padding:5px;
      }
        #ppp{

                width: 250px;
                padding: 5px;
     }
     #pp{
     padding: 0px;
      margin-bottom: 20px;
     margin-left:250px;
     }
     .userProfile{
     float:right
     }
   .bgimg {
    background-image: url(/static/tataconsultancyserviceslogotcs.png);
    padding-top: 25px;
    background-repeat: no-repeat;
    background-size: 190px 60px;
    height:70px;
    width:200px;
    margin-left:40px;
    margin-top:30px;
    }
    .logout{
    height:0px;
    width:0px;
    padding:0px;
    }
    #textid{
    margin-left:100px;
    }
    .tb{
    float:left;
    margin-left:340px;
     }
    .bd{
    float:left;
     }
   </style>
  </head>
  <br>
  <body style="background-color:#e9ecef;">
             <div class="container-fluid">
<div>
 <div class="p-0 mb-0 bg-dark text-white" class="font-weight-bold" ><div class="text-center"><h2>FOTA PORTAL</h2></div></div>
   {% csrf_token %}

      <div class = "userProfile">
      <form class="form-inline">
  <div class="form-group mb-2">
      <label>User: {{user}}</label>
     </div>
      </form>
  <form class="form-inline">
  <div class="form-group mb-2">
      <label>Profile: {{profile}}</label>
  </div>

  </form>
          <form class="form-inline">
  <div class="form-group mb-2">
      <label><a href="{%url 'logout'%}"><b><p class="text-secondary"><u>Logout</u></p></b></a></label>
     </div>
      </form>
      </div>


  <div class="bgimg"></div>

      <div class="p-0 mb-0 bg-info text-white" class="font-weight-bold" ><div id="textid" class="text-center"><h3>Fota Function</h3></div></div>
     <br>
       </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </div>
 <!-- Default dropright button -->
             <div>
<div class="bd">
<div class="float-left">
  <ul class="btn-group flex-column" >
 <div class="btn-group dropright">
  <button type="button" class="btn btn-success">
      <div id="sss"><h5>Vehicle Management</h5></div>
  </button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropright</span>
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
       <a class="dropdown-item" href="{%url 'VehicleRegistration'%}"><button type="button" class="btn btn-success"><div id="ssss">Vehicle Registration</div></button></a>
      <a class="dropdown-item" href="{%url 'vinCheck'%}"><button type="button" class="btn btn-success"><div id="ssss">Check Vehicle Details</div></button></a>
  </div>
</div>

<br>

<div class="btn-group dropright">
  <button type="button" class="btn btn-success">
      <div id="sss"><h5>Content Management</h5></div>
  </button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropright</span>
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
<a class="dropdown-item" href="{%url 'UploadContent'%}"><button type="button" class="btn btn-success"><div id="ssss">Upload Content</div></button></a>
      <a class="dropdown-item" href="#"><button type="button" class="btn btn-success"><div id="ssss">Sign Content</div></button></a>
      <a class="dropdown-item" href="{%url 'ChkContent'%}"><button type="button" class="btn btn-success"><div id="ssss">Check Content</div></button></a>
  </div>
</div>
      <br>

      <div class="btn-group dropright">
  <button type="button" class="btn btn-success">
      <div id="sss"><h5>Version Management</h5></div>
  </button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropright</span>
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
<a class="dropdown-item" href="{%url 'SetReprogRef'%}"><button type="button" class="btn btn-success"><div id="ppp">Set Reprogramming Reference</div></button></a>
      <a class="dropdown-item" href="{%url 'SetConfigRef'%}"><button type="button" class="btn btn-success"><div id="ppp">Set Configuration Reference</div></button></a>
  <a class="dropdown-item" href="#"><button type="button" class="btn btn-success"><div id="ppp">Check Reprogramming Reference</div></button></a>
      <a class="dropdown-item" href="#"><button type="button" class="btn btn-success"><div id="ppp">Check Configuration Reference</div></button></a>
  </div>
</div>
      <br>

       <div class="btn-group dropright">
  <button type="button" class="btn btn-success">
      <div id="sss"><h5>Campaign Management</h5></div>
  </button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropright</span>
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
  <a class="dropdown-item" href="{%url 'CampainCreate'%}"><button type="button" class="btn btn-success"><div id="ssss">Create Campaign</div></button></a>

      <a class="dropdown-item" href="{%url 'LaunchCampaign'%}"><button type="button" class="btn btn-success"><div id="ssss">Launch Campaign</div></button></a>

      <a class="dropdown-item" href="{%url 'CheckCampaign'%}"><button type="button" class="btn btn-success"><div id="ssss">Check Campaign</div></button></a>
  </div>
</div>

</ul>
  </div>
</div>
                 <div class="tb" id="base">
             <table class="table table-bordered" id="vintable">
  <thead>

  </thead>
  <tbody>

  </tbody>
</table>
                 </div>
      <br>
      <br>
             </div>
  </body>


<script type="text/javascript">
    $(document).ready(function(e) {
    $.ajax({
    beforeSend: function()
    {
    $("#vintable").empty();
    $("#base").append('<div id="ss1" class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>');
    },
    type:'POST',
    url:"GetVinStatus",
    data:{
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function(data){
    count = 0;
    $("#vintable").append('<tr class="table-active"><th>'+'No.'+'</th><th>'+'Vin Numbers'+'</th><th>'+'Connection Status '+'</th></tr>');
     for (var i = 0 in data) {
     count = count + 1;
           $("#vintable").append('<tr><td>'+count+'</td><td>'+i+'</td><td>'+data[i]+'</td></tr>');
   }
    $("#vintable").append('<button id="ref" type="button" class="btn btn-secondary">Refresh</button>');
   },
    complete: function() {
       $('#ss1').remove();
        }
   });
   });



$(document).on("click", "#ref", function(){
    $.ajax({
    beforeSend: function()
    {
    $("#vintable").empty();
    $("#base").append('<div id="ss1" class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>');
    },
    type:'POST',
    url:"GetVinStatus",
    data:{
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function(data){
    count = 0;
    $("#vintable").append('<tr class="table-active"><th>'+'No.'+'</th><th>'+'Vin Numbers'+'</th><th>'+'Connection Status '+'</th></tr>');
     for (var i = 0 in data) {
     count = count + 1;
           $("#vintable").append('<tr><td>'+count+'</td><td>'+i+'</td><td>'+data[i]+'</td></tr>');
   }
              $("#vintable").append('<button id="ref" type="button" class="btn btn-secondary">Refresh</button>');
   },
    complete: function() {
    $('#ss1').remove();
        }
   });
});

</script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</html>